export(sim.sample,splinesurv,dic.splinesurv)
import(MASS,survival)
useDynLib(splinesurv)
S3method(print,splinesurv)
S3method(print,summary.splinesurv)
S3method(summary,splinesurv)
S3method(plot,splinesurv)
S3method(predict,splinesurv)
S3method(splinesurv,agdata)
S3method(splinesurv,data.frame)
S3method(splinesurv,formula)
